<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Create User</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap/css/default.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
        <script src="{{ url_for('static', filename='bootstrap/js/jquery-min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/script.js') }}"></script>
    </head>
    <body>
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
