{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class='col-md-3'>
        <input type="text" id="txtUsername" name="username"  class="form-control"  placeholder="Username" required autofocus>
        <label id='username_label' style = 'color:red;'>User Name is a Mandatory Field</label>
        <label id='username_syntax_label' style = 'color:red;'>User Name Syntax is not valid. Use only Alphabets and Number without space.</label>
    </div>
</div>
<h2 class="form-signin-heading">Check Groups</h2>
<label id='checkedValueGroups_label' style = 'color:red;'>Check atleat one server group.</label>
<hr>

<div class="row">
    
      

    <div class="checkbox_servers_list" id="group-list-id">
        {% for each in group_list %}
        <div class="checklist col-md-3">
          <input type="checkbox" id="group-checkbox_{{loop.index}}" class="group-list" name="checkbox" value="{{each}}">
          <label for="group-checkbox_{{loop.index}}">{{each}}</label>
        </div> 
        {% endfor %}
    </div>
    <div class="col-md-offset-5 col-md-2">
        <input type="button" id="submit-button" value="Submit" class="btn btn-lg btn-primary" >
    </div>
</div>
    
{% endblock %}
